<!-- launch/test.launch -->
<launch>


  <!-- Launch Gazebo with your 100 Hz world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>


  

  <!-- Spawn Jackal -->
  <arg name="front_laser" default="false" />
  <arg name="default_config" value="front_laser" if="$(arg front_laser)" />
  <arg name="default_config" value="base" unless="$(arg front_laser)" />

  <arg name="config" default="$(arg default_config)" />

  <arg name="joystick" default="true" />

  <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
    <arg name="x" value="2" />
    <arg name="y" value="0" />
    <arg name="z" value="1.0" />
    <arg name="yaw" value="0" />
    <arg name="config" value="$(arg config)" />
    <arg name="joystick" value="$(arg joystick)" />
  </include>


</launch>

